<%= form_for(Note.new, :url => contact_notes_path(current_contact), remote: true) do |f| %>
  <%= f.hidden_field :contact_id, :value => current_contact.id %>
	 <div class="row collapse">
	 	<div class="ten mobile-three columns">
	  	<%= f.text_field :content %>
	  </div>
	 <div class="two mobile-one columns">
	  	<%= f.submit "Add note", :class => "button expand postfix" %>
		</div>
	</div>
<% end %>
