<h1>Simple Contact Management<br>for Small Teams</h1>
<p>
  TinyContacts is an easy way for small companies or groups to share contacts.<br>
  It's fast, lightweight, & easy-to-use.<br> 
  <%= link_to "Sign up for free and start adding contacts in under 30 seconds", signup_path %>.
</p>