<h1>Edit contact</h1>

<%= render 'form' %>

<div class="row">
  <div class="five columns offset-by-two">
    <%= link_to "Delete contact", @contact, 
                                  :method => :delete, 
                                  :confirm => "Are you sure you want to delete this contact?",
                                  :class => 'button medium alert radius' %>
  </div>
</div>