<div class="add_contact">
  <%#= link_to 'New contact', new_contact_path, :id => 'new_contact_link' %>
  <p class="new_contact_link">New contact</p>
</div>

<%= render 'contacts/contacts', :contacts => @contacts %>



<div id="new_contact_form_partial">
  <h4>Add a contact</h4>
  <%= render 'form' %>
</div>
