<% @user_tags_array = current_user.tags.map {|tag| tag.name} %>

<script>
  $(document).ready(function() {
    $("#e12").select2({tags: <%= raw @user_tags_array.to_json %>}, { width: '400px' });
    });
</script>

<%= form_for(Tag.new, :url => tags_path(:contact_id => contact_id)) do |f| %>
   <div class="row collapse">
    <div class="ten mobile-three columns">
      <%= f.text_field :name, :placeholder => 'Add multiple tags...', :id => 'e12', :class => 'twelve mobile-three columns' %>
    </div>
   <div class="two mobile-one columns">
      <%= f.submit "Add tags", :class => "button expand postfix" %>
    </div>
  </div>
<% end %>
