body {
	padding: 40px 0;
}

abbr {
	border-bottom: none;
}

ul li {
	list-style-type: none;
}

.pull-right {
	float: right;
}

.header {
	height: 40px;
	border-bottom: 1px solid #444;
	line-height: 40px;
	.column, .columns {
		padding: 0;
	}
	.logo {
		padding-top: 8px;
	}
	ul.navigation {
		list-style: none;
		float: right;
		li {
			float: left;
			line-height: 40px;
			padding-left: 15px;
		}
	}
}

.add_contact a {
	float: right;
	padding: 10px 0 ;
}

.contacts {
	clear: both;
	h4 {
		margin: 0;
		padding: 10px 0;
		color: #2BA6CB;
		.first_name {
			font-weight: 300;
		}
	}
	.hidden_info {
		padding: 5px 0 10px;
		line-height: 18px;
	}
}

.contact_info {
	border-bottom: 1px solid #ddd;
	cursor: pointer;		
}

.footer {
	height: 40px;
	border-top: 1px solid black;
	line-height: 40px;
	ul.navigation {
		list-style: none;
		float: right;
		li {
			float: left;
			line-height: 40px;
			padding-left: 15px;
		}
	}
}