body {
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 560px;
}

.header {
	height: 70px;
	border-bottom: 1px solid black;
	h1 {
		float: left;
	}
	ul {
		list-style: none;
		float: right;
		li {
			float: left;
			line-height: 70px;
		}
	}
}
.contacts {
	margin: 0 auto;
	text-align: left;
}

form#new_contact {
	.group {
		margin: 10px auto;
		width: 560px;
		text-align: left;
	}
	label {
		margin-right: 20px;	
		float: left;
		width: 150px;
		text-align: right;
	}
}



