<p>You have been invited to join <%= @group.name %>'s TinyContacts account</p>

<p><%= link_to "Accept this invitation to get started", @accept_url %></p>

<p>For more information about TinyContacts visit tinycontacts.com</p>

<p>Thanks,</p>
<p>TinyContacts</p>